body{
background-color:silver;
}

#header1{
position:fixed;
top:0;
left:0;
width:100%;
height:40px;
background-color:rgb(30,30,30);
z-index:2;
}
.head{
position:relative;
top:0;
float:right;
height:50%;
padding:10px;
background-color:transparent;
color:white;
border:0px solid white;
border-left-width: 1px;
cursor:pointer;
}

.login_panel{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background-color:black;
opacity:0.9;
z-index:2;
}

.cont{
position:absolute;
top:12.5%;
left:25%;
width:25%;
background-color:rgb(90,90,90);
color:white;
padding:5% 12.5% 5% 12.5%;
}
#login_x{
position:absolute;
top:0;
left:98%;
}
#reg_x{
position:absolute;
top:0;
left:98%;
}
input{
font-size:20px;
font-weight:bold;
float:left;
position:relative;
top:0%;
width:100%;
margin:5px;
color:silver;
background-color:white;
border:2px solid grey;
padding:4px;
}
#address{
width:70%;
}
#nmb{
width:15%;
}
.log_title{
text-align:center;
font-size:20px;
color:white;
font-weight:bold;
border:2px solid grey;
background-color:black;
margin-left:20px;
}

#reg_send{
padding:10px;
color:white;
background-color:rgb(150,50,50);
float:left;
margin-left:33%;
cursor:pointer;
border:1px solid black;
}
#logout_button{
display:none;}

#header{
position:absolute;
top:0%;
left:0%;
width:100%;
height:40%;
background-image:url("images/bg2.jpg");
background-size:cover;
background-repeat:no-repeat;
}

#container{
position:absolute;
top:40%;
left:20%;
width:80%;
padding:0px;
margin:0px auto;
z-index:-3;
background-color:rgb(30,30,30);
}

.td{
position:relative;
z-index:-2;
margin:9px;
width:18%;
height:200px;
float:left;
cursor:pointer;
}

img{
position:absolute;
top:0;
left:0;
float:left;
width:100%;
height:100%;
z-index:-1;
}

.cover{
position:absolute;
top:0;
left:0;
float:left;
width:100%;
height:50%;
opacity:0.8;
display:none;
background-color:black;
z-index:0;
}

.title{
background-color:rgb(30,30,30);
color:white;
text-align:center;
font-size:20px;
font-family:Arial;
}
.price{
color:yellow;
text-align:center;
font-size:16px;
font-family:Arial;
}

#panel{
position:fixed;
top:40%;
left:0;
width:20%;
height:100%;
}

.type{
width:96.2%;
border:0px rgb(220,230,240) solid;
padding:2px;
border-bottom-width:3px;
float:left;
text-align:center;
margin:10px;
font-size:22px;
color:rgb(30,30,30);
font-weight:bold;
z-index:0;
background-color:white;
}

#back{
z-index:1;
position:absolute;
left:35%;
top:10%;
background-color:rgba(200,50,50,0.5);
padding:50px;
font-size:36px;
color: white;
border:2px solid white;
text-decoration:none;
}
a{text-decoration:none;}
a:link,a:visited,a:active{
color:white;
}
#back:hover{
background-color:rgba(200,50,50,0.9);
}

.order_img{
position:absolute;
top:0;
left:0;
border:2px grey solid;
width:35%;
height:20%;
margin:5px;
}
.order_name{
text-transform:uppercase;
font-weight:bold;
font-size:20px;
border:0px black solid;
border-bottom-width:2px;
float:left;
position:absolute;
top:0;
left:38%;
width:55%;
margin:5px;
color:black;
text-align:center;
padding:5px;
}
#order_price{
float:left;
position:absolute;
top:6%;
left:38%;
width:55%;
margin:5px;
color:yellow;
background-color:black;
text-align:center;
padding:5px;
}

#login_but{
padding:10px;
color:white;
background-color:rgb(30,30,30);
float:left;
margin-left:40%;
cursor:pointer;
border:1px solid black;
}

#shop_button{
cursor:pointer;
float:left;
position:absolute;
top:40%;
left:35%;
margin:5px;
color:white;
background-color:rgba(250,50,50,1);
border:1px solid grey;
text-align:center;
padding:20px;
}
.arrow{
font-weight:bold;
float:left;
position:absolute;
top:11%;
left:38%;
width:4%;
margin:5px;
color:black;
background-color:white;
border:2px solid grey;
text-align:center;
padding:19px;
cursor:pointer;
}

#right{
left:77%;
}

#center{
cursor:default;
left:58%;
background-color:transparent;
border-width:1px;
}

#dest_city{
top:22%;
width:90%;
}
#dest_address{
top:22%;
width:60%;
}
#dest_nmb{
top:22%;
width:20%;
}
#pur_panel{
position:fixed;
top:6%;
left:57.5%;
width:100%;
height:50%;
display:none;
background-color:rgb(30,30,30);
z-index:2;
color:black;
}
.pur_elem{
margin:5px;
background-color:silver;
width:100%;
height:18%;
}

.pur_img{
position:static;
width:10%;
height:100%;
background-size:cover;
float:left;
}
.pur_text{
text-align:center;
padding:20px;
width:5%;
height:30%;
background-size:cover;
float:left;
background-color:transparent;
border:0px solid rgb(30,30,30);
border-left-width:1px;
}

